.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #211f1f;
  padding: 25px 15px;
}

.sidebar img {
  color:white;
  width: 35px;
}

.sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;

}
.sidebar .top .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
  background-color: #211f1f;
}

.sidebar .new-chat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  cursor: pointer;

}

.sidebar .top{
  background-color: #211f1f;
  color:white;
}


.sidebar .recent {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1.5s;
  background-color: #211f1f;

}

.sidebar .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #f8f2f2;
  background-color: #211f1f;

}

.sidebar .recent-entry {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 50px;
  color: #f8f2f2;
  cursor: pointer;
  background-color: #211f1f;
}

.slidebar .recent-entry .bottom{
  display: flex;
  flex-direction: column;
  background-color: #211f1f;

}

.sidebar .recent-entry:hover {
  background-color: #6d6b6b;
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
  background-color: #211f1f;

}


.sidebar .bottom-item {
  padding-right: 10px;
  margin-top: 8px;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
